.x-tab
	background: $primarydark
	color: #e8e3e3
	border-width: 0

.x-tab-inner
	color: #e8e3e3

.x-tab-active
	background: $primary !important
	border-width: 0 !important

.x-tab-over
	background: $primary !important
	border-width: 0 !important

.x-tab-default-focus
	background: $primary !important
	border-width: 0 !important

.x-tab-focus
	background: $primary !important
	border-width: 0 !important

.x-tab-bar-body
	background: $darker

.x-tab-disabled
	background: $primarydark !important