$blurple: #526DD1 // Kept incase missed any variable references

$primary: #8C977D
$primarydark: #6a725e;
$green: #8C977D
$yellow: #D9BC8C
$red: #B66467
$redlight: #B66467 // Should probably be changed to a lighter red
$dark: #151515
$darker: #101010
$lightGray: #666
$light: #666 // Should probably be changed to a darker gray